<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>How to Play:</h2>
            <p>Cache Me Outside is a <i>totally free</i> scavenger hunt created by <b>YOU!</b><br>
            Thats right, the entire game is managed by the users themselves - there are no rules, except those which you impose yourself! </p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-6">
                <h3>Play alone or with friends!</h3>
                {{!-- <img src="assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt=""> --}}
                <p>No group is too large. The point of the game is to find items, referred to as 'caches', that are hidden throughout the real world. Some are easy to find, some are hard!</p>
                <p>You are given coordinates and some hints - find the hidden item and receive eternal glory! or, at least, a star on your profile page.</p>
                <p>Once you find the cache, claim it! Leave a note, leave another item, or simply leave it alone and mark it as 'found by you' back on the site here.</p>
            </div>
            <div class="col-lg-6">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        A couple rules we recommend:
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i><b>The Honor System:</b> No one likes a cheater - if you discover a cache, take credit! If you haven't found it yet, don't be that guy and say you did.</li>
                        <li><i class="bi bi-check-circle-fill"></i> <b>Be Respectful:</b> Caches are hidden all around - some are in public areas, some are adjacent to private ones. Be polite, respect the environment, and above all: respect others!</li>
                        <li><i class="bi bi-check-circle-fill"></i><b>Have Fun:</b> Its just a game, and most of all - there are no winners or losers!</li>
                    </ul>
                    <p>
                        
                    </p>

                    {{!-- <div class="position-relative mt-4">
                        <img src="assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">
                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                    </div> --}}
                </div>
            </div>
        </div>

    </div>
</section>