        <div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 id="modalTitleH1" class="modal-title fs-5" id="staticBackdropLabel">Login/Signup</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <form class="form login-form">
                                        <div class="form-group">
                                            <label for="email-login">Email:</label>
                                            <input class="form-input" type="text" id="email-login">
                                            <label for="password-login">Password:</label>
                                            <input class="form-input" type="password" id="password-login" />
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Login!</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col">
                                    <form class="form signup-form">
                                        <div class="form-group">
                                            <label for="name-signup">Username:</label>
                                            <input class="form-input" type="text" id="name-signup" />
                                        </div>
                                        <div class="form-group">
                                            <label for="email-signup">Email:</label>
                                            <input class="form-input" type="text" id="email-signup" />
                                        </div>
                                        <div class="form-group">
                                            <label for="password-signup">Password:</label>
                                            <input class="form-input" type="password" id="password-signup" />
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Signup!</button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>