<form class="form cache-form">
                                <div class="form-group">
                                    <label for="cache-name">Cache Name</label>
                                    <input class="form-input" type="text" id="cache-name">
                                    <label for="cache-hints">Hint</label>
                                    <input class="form-input" type="text" id="cache-hints">
                                    <label for="cache-description">Describe the Location</label>
                                    <input class="form-input" type="text" id="cache-description">
                                    <label for="cache-difficulty">Select the Difficulty</label>
                                    <select class="form-select" aria-label="Difficulty Select" id="cache-difficulty">
                                        <option selected>Select a Difficulty</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                        <option value="4">Four</option>
                                        <option value="5">Five</option>
                                    </select>

                                </div>
                                <div class="form">
                                    <button class="btn btn-primary" type="submit">Create new cache</button>
                                </div>
                            </form>