<section class="d-flex justify-content-center">
  <div class="col-lg-6" data-aos="fade-up">
    <div class="section-header pt-1">
      <h2>Create a New Cache!</h2>
      <p>The new cache location will be saved to your current location!</p>
    </div>
    <form class="new-cache-form">
      <div class="mb-3">
        <label for="cache-name" class="form-label">Cache Name</label>
        <input type="text" class="form-control" id="cache-name" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="cache-hints" class="form-label">Hints</label>
        <input type="text" class="form-control" id="cache-hints">
      </div>
      <div class="mb-3">
        <label for="cache-description" class="form-label">Description</label>
        <textarea class="form-control" id="cache-description"></textarea>
      </div>
      <div class="mb-3">
        <select class="form-select" aria-label="Default select example" id="cache-difficulty">
          <option selected>Select the Difficulty</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
          <option value="4">Four</option>
          <option value="5">Five</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>

<script src="/assets/js/newcache.js"></script>